

##################################################################
##
##    全般
##

# ステータスバーの色

set-option -g status-bg "colour7"
set-option -g status-fg "colour4"

##################################################################
##
##    左ステータスバー
##

set-option -g status-left-length  16

set-option -g status-left   \
'#[bg=colour7,fg=colour=4]\
#{?client_prefix,#[bg=colour2][C-a],}\
[#S] #[default]'

##################################################################
##
##    右ステータスバー
##

# スタイル
#set-option -g status-right-fg 'colour12'
set-option -g status-right-style 'fg=colour12,bold'

# 最大長
set-option -g status-right-length 60

# ペインの名前と日時を表示
set-option -g status-right '%Y/%m/%d(%a) %H:%M:%S'

##################################################################
##
##    ウィンドウステータス
##

set-window-option -g window-status-current-format   \
    '#[bg=colour15,fg=colour9,bold] #I #W'
set-window-option -g window-status-format '#[fg=colour4] #I #W'

##################################################################
##
##    ペインの境界線
##

set-option -g pane-border-status bottom
set-option -g pane-border-format  \
"#[bg=colour7,fg=colour0]  [#{=21:pane_title}]:[#S] \
#(~/Settings/Tmux/Common/PaneBorder.sh '#{pane_current_path}' #{pane_width})"
