
set  nocompatible
set  backspace=indent,eol,start

set  ignorecase
set  laststatus=2
set  number
set  numberwidth=5
set  ruler
set  smartcase
set  tabstop=4
set  wildmenu
set  nowrap

source  ~/Settings/Vim/VimDiff
source  ~/Settings/Vim/BinaryEditor

