
##################################################################
##
##    プレフィックスキー
##

# プレフィックスキーを screen と同じ C-a  に変更
set -g prefix C-a
unbind-key C-b
bind-key C-a send-prefix

##################################################################
##
##    コピーモード
##

# コピーモードでのキーバインドを vi スタイルにする
set-window-option -g mode-keys vi

# C-a Esc でコピーモードに入る
bind-key            Escape    copy-mode

##################################################################
##
##    ウィンドウ切り替え操作
##

# だいたい screen で使っていたのと同じにする

# C-a l     ウィンドウリスト

bind-key            l         choose-tree -w
bind-key  -T root   C-Left    previous-window
bind-key  -T root   C-Right   next-window

bind-key            A         command-prompt -I "#W" "rename-window '%%'"