
##################################################################
##
##    プレフィックスキー
##

# プレフィックスキーを screen と同じ Ctl-a  に変更
set -g prefix C-a
unbind-key C-b
bind-key C-a send-prefix

##################################################################
##
##    コピーモード
##

# コピーモードでのキーバインドを vi スタイルにする
set-window-option -g mode-keys vi

# Ctl-a Esc でコピーモードに入る
bind-key            Escape    copy-mode

##################################################################
##
##    ウィンドウ切り替え操作
##

# だいたい screen で使っていたのと同じにする

# Ctl-a l       ウィンドウリストを表示 (現在のセッションのみ)
# Ctl-a L       ウィンドウリストを表示
# Ctl-Left      前 (左) のウィンドウ (タブ) へ移動
# Ctl-Right     後 (右) のウィンドウ (タブ) へ移動

bind-key            L         choose-tree -N -w
bind-key            l         run-shell     \
    'tmux choose-tree -Nw -f "##{==:##{session_name},#{session_name}}"'
bind-key  -T root   C-Left    previous-window
bind-key  -T root   C-Right   next-window

# Ctl-a Shif-A  ウィンドウ (タブ) の名前を変える
bind-key            A         command-prompt -I "#W" "rename-window '%%'"